* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #333333;
    color: #cccccc;
}

#roomcount {
    margin-top: 1%;
    margin-right: 5%;
}

#playingfield {
    /* Create a playing field of about 1:1 ratio */
    width: 35%;
    height: 72.5%;
    margin: 0 auto; /* Centering the element */
    margin-top: 1%;
    background-color: transparent;
    background-size: auto 16.5%; /* Looks close enough on a 1920x1080 screen */
    background-repeat: repeat;
}

img {
    width: 20%;
    height: 20%;
}

.chest {
    display: block;
    position: absolute;
    left: 60%;
    top: 60%;
}

.entity {
    display: block;
    position: absolute;
}

.room {
    display: block;
    position: relative;
    float: left;
    background-color: transparent;
    border: 2px dashed blue;
    display: inline-block;
    background-image: url(resources/floor.svg);
}